<ul>
    <li><a href="" routerLink="/home">主页</a></li>
    <li>
        <!-- <a href="" routerLink="/product" [queryParams]="{id:1}">商品信息</a> -->
        <a href="" routerLink="/product/1">商品信息</a>
        <button (click)="toProductDetails()">商品信息</button>
    </li>
    <li>
        <a href="" [routerLink]="[{outlets:{primary:'home',aux:'chat'}}]">开始聊天</a>
    </li>
    <li>
        <a href="" [routerLink]="[{outlets:{aux:null}}]">结束聊天</a>
    </li>
</ul>

<router-outlet></router-outlet>
<router-outlet name="aux"></router-outlet>